body{
  font-family: 'Droid Sans', 'Helvetica', Arial, sans-serif;
}

#map{
  display: block;
  margin: 0;
  padding: 0;
  position: absolute; /* posición absoluta a navegador */
  top: 0;
  left: 0;        /* ajusta a borde de navegador */
  right: 0;
  bottom: 0;
  background: rgba(0,255,0,0.5); /* verde si no hay mapa */
}

#ruta_directa{
  position: absolute; /* posición absoluta a navegador */
  top: 100px;             /* ajusta a borde de navegador */
  right: 5%;
  height: 40px;
  
  /* SOMBRA */
  -webkit-box-shadow: 10px 10px 15px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 15px 0px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 15px 0px rgba(0,0,0,0.75);
}